@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292c35;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.swiper-slide {
  -webkit-box-reflect: below 20px linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15));
}

.booting {
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4, jump-none) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0)
  }
}